img {
    width: 80%;
    display: block;
    margin: 0 auto;
}

p {
    width: 80%;
}

a {
    font-size: 1.5em;
}

a:hover {
    background-color: steelblue;
    color: white;
}

body {
    text-align: center;
}

h1 {
    text-align: center;
}

nav, footer {
    background-color: steelblue;
    color: white;
    padding: 10px;
}

footer p {
    font-size: 20px;
    margin: 20px auto;
}

main p {
    width: 80%;
    margin: 10px auto;
}